{{ ansible_managed | comment }}

## Per-sender authentication
#
# user1@example.com              username:password
#
# Login information for the default relayhost
# [mail.isp.example]             username:password
#
# Alternative form:
# [mail.isp.example]:submission  username:password
#
# Or:
# senderadress                   relayhost-login:password

{% if postfix_sasl_auth %}
{{ postfix_relayhost }} {{ postfix_sasl_auth }}
{% endif -%}
