{{ ansible_managed | comment }}

## Per-sender authentication
#
# user1@example.com              username:password
#
# Login information for the default relayhost
# [mail.isp.example]             username:password
#
# Alternative form:
# [mail.isp.example]:submission  username:password
#
# Or:
# senderadress                   relayhost-login:password

{% for sasl_pass_item in mailrelay_sasl_passwords %}
{{ sasl_pass_item.name }} {{ sasl_pass_item.target }}
{% endfor -%}
